<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://rawgit.com/fieder/fromecoderdojo/master/_layouts/assets/css/main.css">
  </head>

  <body>

    <header>
      <div class="container">
        
            <h1>{{ site.title | default: site.github.repository_name }} <a href="{{site.url}}"><img src="https://user-images.githubusercontent.com/14906695/33398691-bac0fb64-d547-11e7-9ac9-4809f555bea5.png" width="180" align="right"></img></a></h1>

        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        <section id="downloads">
          {% if site.show_downloads %}
            <a href="courses.html" class="btn">Courses</a>
          {% endif %}
        </section>
      </div>
    </header>
<ul>
  {% for post in site.posts %}
    <img src="https://user-images.githubusercontent.com/1662253/33562885-5c2a9ff4-d90e-11e7-91ef-bcf9c20138"></img>
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
  <li>
  	<a>Second course - coming on Feb 2018. Stay tuned!</a>
  </li>
</ul>
  </body>
</html>