body {
font-family: sans-serif;
}

h1{
	color: green;
}

ul.menu{
	border-radius: 10px;
	background-color: black;
	padding: 10px;
}

ul.menu li {
	list-style: none;
	display: inline;
	margin-right: 10px;
	margin-left: 10px;
}

ul.menu li a{
	color: white;
	text-decoration: none;
}

ul.menu li.selected{
	color: yellow;
}

ul.menu li a:hover {
	color: #99DDFF;
	text-decoration: underline;
}
article{
	float: left;
	padding: 1em;
}

aside{
	float: left;
	background-color: #FFFFC0;
	margin-left: 20px;
//	box-shadow: 10px 10px 5px gray; 
//	transition: all;
}
aside img{
	border-width: 2px;
	border-radius: 5px;
	border-style: solid;
}