body {
font-family: sans-serif;
}

h1{
	color: green;
}

ul{
	list-style: none;
}

#jsSpace{
	border-radius: 5px;
	border: solid 1px #dadada;
	background-color: #dedede;
}

ul {
	list-style: none;
	padding: 0;
}
.songListItem{
	padding: 5px 10px;
}
.songListItem:hover{
	cursor: pointer;
	background-color: #000000;
	color: white;
}

ul.menu{
	border-radius: 10px;
	background-color: black;
	padding: 10px;
}

ul.menu li {
	list-style: none;
	display: inline;
	margin-right: 10px;
	margin-left: 10px;
}

ul.menu li a{
	color: white;
	text-decoration: none;
}

ul.menu li.selected{
	color: yellow;
}

ul.menu li a:hover {
	color: #99DDFF;
	text-decoration: underline;
}
article{
	float: left;
	padding: 1em;
}

aside{
	float: left;
	margin-left: 20px;
	margin-top: 15px;
	transition: all;
}
aside img{
	border-width: 2px;
	border-radius: 5px;
	border-style: solid;
}